.App{
  transition: 0.5s;
  margin-top: 50px;
  min-width: 200px;

}
#show-completed{
  margin: 20px 10px;
  background-color: teal;
  color: white;
  width: max-content;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
}


